body {
color: white;
text-align: center;
background-color: #181a1b;
font-family: cursive;
}

video {
width: 800px;
height: auto;
border: solid thick;
border-color: white;
}

audio {
    border: solid white;
    appearance:none;
}
iframe{
    zoom: 100%
}
canvas {
    background-color: white;
}
